# API配置
API_TITLE='RecToForm API'
API_PREFIX=/api/v1
API_HOST=0.0.0.0
API_PORT=8080
API_CORS_ORIGINS=*


# 图像增强配置
DOCUMENT_IMAGE_ENHANCE_ENABLED=true
DOCUMENT_IMAGE_AUTOCONTRAST_CUTOFF=0.5
DOCUMENT_IMAGE_CONTRAST=1.03
DOCUMENT_IMAGE_BRIGHTNESS=1.00
DOCUMENT_IMAGE_SHARPEN_RADIUS=0.8
DOCUMENT_IMAGE_SHARPEN_PERCENT=80
DOCUMENT_IMAGE_SHARPEN_THRESHOLD=3


# RQ配置
REDIS_URL=redis://127.0.0.1:6379/0
EXPORT_FILE_MAPPING_TTL=86400
RQ_QUEUE_NAME=invoice_tasks
RQ_JOB_TIMEOUT=1800
RQ_RESULT_TTL=86400
RQ_WORKER_PROCESSES=4


# Workflow异步执行配置
WORKFLOW_ASYNC_CONCURRENCY=15
MAX_UPLOAD_FILES=50
MAX_FILE_SIZE_MB=10


# llm选择商(可选项: qwen_official / qwen_local_openai_compatible)
LLM_PROVIDER=qwen_local_openai_compatible

# qwen3.5-plus配置(qwen_official)
QWEN3_VL_PLUS_API_KEY=
QWEN3_VL_PLUS_TEMPERATURE=0.7
QWEN3_VL_PLUS_MAX_TOKENS=1000

# qwen-vl-8b-sspu配置(qwen_local_openai_compatible)
QWEN3_VL_8B_SSPU_API_URL=http://
QWEN3_VL_8B_SSPU_MODEL_NAME=/model/Qwen3-VL-8B
QWEN3_VL_8B_SSPU_TEMPERATURE=0.7
QWEN3_VL_8B_SSPU_MAX_TOKENS=1000
QWEN3_VL_8B_SSPU_TIMEOUT=120.0
QWEN3_VL_8B_SSPU_MAX_IMAGE_SIZE=2048
QWEN3_VL_8B_SSPU_IMAGE_QUALITY=90
